.loginBackground{
    -fx-background-color: white;
}

.textField{
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.signInButton{
    -fx-background-color: #0079FF;
    -fx-border-color: #0079FF;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.signInButton:hover{
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-border: 20px solid;
}

.addButton{
    -fx-background-color: #219C90;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.addButton:hover{
    -fx-background-color: grey;
}

.updateButton{
    -fx-background-color: #E9B824;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.updateButton:hover{
    -fx-background-color: grey;
}

.deleteButton{
    -fx-background-color: #D83F31;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.deleteButton:hover{
    -fx-background-color: grey;
}

.placeOrderButton{
    -fx-background-color: #0079FF;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.placeOrderButton:hover{
    -fx-background-color: grey;
}


.pane{
    -fx-border-color: #0079FF;
    -fx-background-color: #E4F1FF;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.PromtText{
    -fx-prompt-text-fill: grey;
}

.PromtTextOfComboBox{
    -fx-font-size: 16px;
    -fx-prompt-text-fill: grey;
}

.btnViewItem{
    -fx-background-color: #E9B824;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.btnViewItem:hover{
    -fx-background-color: grey;
}