.loginBackground{
    -fx-background-color: white;
}

.textField{
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.signInButton{
    -fx-background-color: #0079FF;
    -fx-border-color: #0079FF;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.signInButton:hover{
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-border: 20px solid;
}