.loginBackground{
    -fx-background-color: white;
}

.textField{
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.signInButton{
    -fx-background-color: #0079FF;
    -fx-border-color: #0079FF;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.signInButton:hover{
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-border: 20px solid;
}

.placeOrderButton:hover{
    -fx-background-color: grey;
}


.pane{
    -fx-border-color: #5a189a;
    -fx-background-color: #fff;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.PromtText{
    -fx-prompt-text-fill: grey;
}

.PromtTextOfComboBox{
    -fx-font-size: 16px;
    -fx-prompt-text-fill: grey;
}

.btn{
    -fx-background-color: none;
    -fx-background-radius: 30px 0 0 30px;
}

.btnAdd{
    -fx-background-color:  #7b2cbf;
}

.btnAdd:hover{
    -fx-background-color:  #9d4edd;
}

.table-row-cell:odd{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #f8eeff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:hover {
    -fx-background-color: #d3d3d3;
}

.table-view .column-header .nested-column-header {
    -fx-background-color: red;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.table-view .column-header {
    -fx-background-color: #d699ff;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 5;
    -fx-font-size: 15;
}

.table-view .table-cell{
    -fx-font-size:15px;
}


.SettingButtons{
    -fx-border-color: grey;
    -fx-border-radius: 30;
}

.SettingButtons:hover{
    -fx-background-color: #e9ecef;
    -fx-background-radius: 30;
}
